/*####### preset start ####### */
:root {
    --white-color: #fff !important;
    --hover-red : #e54b4b !important;
    --text-color:#8492a6 !important;
    --bg-color:#f9fafd !important;
    --color-black:#000 !important;
    --text-gold:gold;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,a{
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-weight: 600;
}
a{
    text-decoration: none;
}
.nav-black{
    background-color: var(--white-color);
}
.para-text{
    font-size: 17px;
    font-weight: 600;
    letter-spacing:1px;
    line-height: 1.8rem;
}
.heading{
    font-size: 66px;
    font-weight: 700px;
    letter-spacing: 1px;
}
.w-700{
    max-width: 700px;
}

.bg-header{
    padding: 352px;
    background-image: url("img/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 80%;
    position: absolute;
    right: -247px;
    top: 57px;
}
.bg-light{
background-color: var(--bg-color);
}
.bg-text{
    background: #3c4858;
}
.star-gold{
    color: var(--text-gold);
}
.txt-red{
    color: var(--hover-red);
}
.icons i{
    padding: 5px;
    border: 1px solid #d4d2d2;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    line-height: 30px;
    color: #fff;
}
.mouse-icon {
    position: absolute;
    left: 0;
    right: 0;
    height: 42px;
    border: 2px solid #495057;
    bottom: 80px;
    margin: auto;
    width: 30px;
    z-index: 2;
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
}
.mouse-icon .wheel {
    background: #495057;
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    width: 2px;
}
.mover {
    animation: mover 1s infinite alternate;
}
@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
/*####### preset end ####### */

/*####### spacing start ####### */
.padding-topBottom{
    padding: 100px 0px;
}
/*####### spacing end ####### */

/*####### Bootstrap Class Modify Start ####### */
.text-muted{
    color: var(--text-color)!important;
}
.btn{
    padding: 8px 20px;
    border-radius: 5px;
    background-color: var(--hover-red);
    border: 1px solid var(--hover-red);
    color: var(--white-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.btn:hover{
    background-color: var(--hover-red);
    color: var(--color-black);
    transition: 0.5s ease-in-out;
    background-color:var(--white-color);
    border: 1px solid var(--hover-red);
}
.btn-outline{
    background-color: var(--white-color);
    border: 1.5px solid var(--hover-red);
    color: var(--color-black);
}
.btn-outline:hover{
    background-color: var(--hover-red);
    color: var(--white-color);
    transition: 0.5s ease-in-out;
    border: 1px solid var(--hover-red);
}
.aboutImage::after{
    position: absolute;
    content: "";
    width: 4px;
    height: 267px;
    top: 119%;
    border-radius: 5px;
    background-color: var(--hover-red);
}
.signature{
    position: absolute;
    top: 145%;
    right: 530px;
}

.content{
    background-color: #f9fafd !important;
}
.left-icon::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 57px;
    top: 0;
    background: #e9ecef;
}

.counter{
    background: url("img/bg-counter.jpg") center center;
}
.services{
    background: var(--bg-color);
}


.serviceBox{
    border: 2px solid var(--text-color);
    padding: 60px 15px;
    border-radius: 10px;
}

/*####### Bootstrap Class Modify End ####### */

.navbar-custom .navbar-nav .nav-item .nav-link {
    font-size: 11px;
    background-color: transparent !important;
    margin: 0 8px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    transition: all 0.2s;
    font-family: "Montserrat", sans-serif;
}
.nav-link:hover{
    color: var(--hover-red)!important;
}


/* Testimonial Part */ 
.testimonial{
    padding: 20px 20px 20px 90px;
    margin: 10px 20px 50px 55px;
    border-left: 2px solid var(--hover-red);
    position: relative;
}
.testimonial:after{
    content: "";
    border-bottom: 25px solid var(--hover-red);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    bottom: -24px;
    left: -26px;
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--hover-red);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -50px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .title{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}
.testimonial .post{
    display: block;
    font-size: 15px;
    color: var(--text-color);
    text-transform: capitalize;
}
.testimonial .description{
    font-size: 15px;
    color: var(--text-color);
    line-height: 28px;
}
.owl-theme .owl-controls{ margin-top: 10px; }
.owl-theme .owl-controls .owl-page span{
    width: 35px;
    height: 15px;
    border-radius: 0;
    background: var(--hover-red);
    opacity: 0.8;
    transition: all 0.3s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--hover-red);
}
@media only screen and (max-width: 479px){
    .testimonial{
        padding: 20px 0 20px 60px;
        margin: 10px 20px 50px 50px;
    }
    .testimonial .title{ font-size: 20px; }
}

